@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body, *{
  font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background: #F2FBFF url('./img/jumbotronBg.png')  !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

.blueDots {
  background: url('./img/blueDots.png')  !important;
  background-size: 20% !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

.navbar {
  background: #F2FBFF !important;
}

.bg-Spleetewarning {
  background: #FFA023 !important;
}

.spleeteDownload {
  background: url('./img/manInrey.jpg');
  background-size: cover;
  height: 400px;
}

.spleeteDownloadbiz {
  background: url('./img/stats.jpg');
  min-height: 250px;
  background-size: 100%;
    background-repeat: no-repeat;
}


.display-5 {
  font-family: 'Montserrat', sans-serif;
  color: #022B69 !important;
  font-size: 2.2rem;
  line-height: 1.2;
  text-rendering: geometricPrecision;
  font-weight: bold;
  letter-spacing: -0.7px;
    line-height: 1.25;
}

.text-bold{
  font-weight: bold;
}

.btn {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  border: 1px solid rgb(2, 43, 105) !important;
}

.card-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.lead {
  font-weight: 400 !important;
  color: #022B69 !important;
}

.backgroundBiz {
  background: url('../src/img/Businessman.jpg');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .lead {
    justify-content: flex-start;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.2em !important;
  }

  .marginTopText {
    
    margin-top: 170px !important;
  }

  .bg-dark-transparent{
    background: rgba(0, 0, 0, 0.7);
  }


  .btn-primary {
    background: rgb(2, 43, 105) !important;
    min-width: 170px;
    padding: 8px !important; 
  } 

  .display-5 {
    font-family: 'Montserrat', sans-serif;
    color: #022B69 !important;
    font-size: 1.6rem;
    line-height: 1.2;
    text-rendering: geometricPrecision;
    font-weight: bold;
    letter-spacing: -0.7px;
      line-height: 1.25;
  }
}


a.nav-link {
  color: rgb(2, 43, 105) !important;
  font-size: small; 
    text-transform: capitalize;
    font-weight: 500;
    opacity: .6;
    transition: opacity ease 300ms;
    will-change: opacity;
}

a.nav-link:hover {
  color: rgb(3, 24, 54) !important;
  font-size: small; 
    text-transform: capitalize;
    font-weight: 500;
    opacity: .6;
    transition: opacity ease 300ms;
    will-change: opacity;
}

.nav-item {
  min-width: 80px;
  padding:0 20px;
}

footer {
  background: rgb(2, 43, 105);
}

.btn-primary {
  background: rgb(2, 43, 105) !important;
  min-width: 170px;
  padding: 15px !important; 
} 

.btn-warning {
  background: #FFA023 !important;
  min-width: 170px;
  padding: 15px !important; 
} 

footer a, footer h5 {
  color: #fff !important;
  font-weight: 500;
  font-size: 1.5em;
}


.text-white {
  color:#fff !important
}

.SocialBtn {
  font-size: 1em;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 10px;
}

button.navbar-toggler {
  background: #0d0b6e;
  content: "☰" !important;
  color: #fff;
}

.sideImg {
  background: url('../src/img/woman.jpg');
  background-size: cover;
}



/* Dasboard */

.profile_img_rounded {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 103px;
height: 102px;
align-content: center;
align-self: center;
justify-self: center;
border: 1px dashed #F3AC21;
box-sizing: border-box;
position: relative;
}

.profile_img {
  box-sizing: border-box;
  margin-top: 9px;
  margin-bottom: auto;
  margin-left: 9px;
  margin-right: auto;
  position: absolute;
  border-radius: 50%;
width: 83px;
height: 83px;

/* background: url(.png); */
background-blend-mode: normal;
}

.profile_name {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  text-align: center;
  align-content: center;
  align-self: center;
  justify-self: center;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;

}

.profile_title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  text-align: center;
  align-content: center;
  align-self: center;
  justify-self: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 11px;
  
  color: rgba(196, 220, 251, 0.7);
}

.TaskCardTitle {
  display: block;
  margin-top: 22px;
  padding-left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  
  color: #FFFFFF;
}


.TaskCard {
  background: #4057CB;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
}



.TaskCard .hamburger {
  position: absolute;
width: 2px;
height: 10px;
left: 190px;
top: 242px;

}

.TaskCard h3 {

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
}

.TaskCard p {
  margin-top: 14px;
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 6px;
color: rgb(233, 233, 233);
}

.mainBg {
top: 0px;
background: rgba(237, 240, 245, 0.59);
}

.mainCard {
margin-top: 20px;
padding-right: 30px;
padding-top: 40px;
min-height: 120px;
background: #FFFFFF;
border: 1px solid #ECECEC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(224, 224, 224, 0.55);
border-radius: 5px;
}

.line {
  height: 100px;
  margin-top: 10px;
border-left: 2px solid #ECECEC;
transform: rotate(0deg);
}

.mainCard .title {
  display: block;
  text-align: center;

  margin-top: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 12px;

color: rgba(29, 29, 31, 0.76);
}

.BusinessStatus {


font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #0C0C0C;
}

.businessText {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 9px;
line-height: 11px;
display: block;
color: #0B0B0C;
}

.border-left {
  border-left: 1px solid #D2D2D2;
}

.border-bottom {
  border-bottom: 1px solid #D2D2D2;
}

.card {
  background: #FFFFFF;
border: 1px solid #ECECEC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(224, 224, 224, 0.55) !important;
border-radius: 2px;
}

.card-header {
  width: '90%';
  background: #fff !important;
  border-bottom: 2px solid rgba(156, 184, 255, 0.46);
}

.card-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  
  color: rgba(29, 29, 31, 0.7);
  

}

.seeAll {
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 11px;

color: #1D1D1F;

}

.ant-layout-sider {
  background: #152A93 !important;
  height: 100vh;
}

.packages {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 12px;

color: #1D1D1F;

}

.spleeteCard {
  margin: auto 10px;
  position: absolute;
}